@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Spinnaker&display=swap');

.conteudo {
    h1 {
      color: #939BF5;
      font-weight: 400;
      font-size: 80px;
      text-align: center;
      line-height: 28px;
      font-family: 'Roboto', sans-serif;
      font-family: 'Spinnaker', sans-serif;
      padding: 4%;
    }
  }