@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&family=Spinnaker&display=swap');

.conteudo {
    h1 {
      color: #939BF5;
      font-weight: 400;
      font-size: 80px;
      text-align: center;
      line-height: 28px;
      font-family: 'Roboto', sans-serif;
      font-family: 'Spinnaker', sans-serif;
      padding: 4%;

      @media screen and (max-width: 844px){
        padding-left: 30%;
      }
    }
    @media (max-width: 438px){
      margin-top: 10%;
       padding-left: 32%;

    }
  }

  .texto-descritivo {
    color: #000;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    text-align: center;
    padding: 4%;

    @media screen and (max-width: 1000px){
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5% 0% 5% 9%;

    }
    @media screen and (max-width: 844px){
      padding-left: 30%;
    }
    @media screen and (max-width: 438px){
      padding-left: 15%;
      font-weight: 100;
      font-size: 20px;
      margin-top: 5%;
    }
  }

  .imagemchat1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding: 2% 0% 0% 33%;

    @media screen and (max-width: 1500px){
      padding: 2% 0% 0% 29%;
    }
    @media screen and (max-width: 1000px){
      flex-direction: column;
      padding: 2% 0% 0% 22%;

    }
    @media screen and (max-width: 844px){
      padding-left: 30%;
    }
    @media screen and (max-width: 438px){
      width: 80%;
    }
  }