.footer {
    background-color: #191A23;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
  
    .conteudo-1 {
      flex: 1;
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
        }
      }
    }

    .conteudo-1 {
        flex: 1;
    
        ul {
          list-style: none;
          padding: 0;
    
          li {
            margin-bottom: 10px;
          }
        }
      }

      .conteudo-2 {
        ul {
          list-style: none;
          padding: 0;
          display: flex;
          gap: 10px;
    
          li {
            margin-bottom: 10px;
          }
        }
      
}

@media screen and (max-width:1514px){ 
  .footer{
    max-width: 1%;
    .conteudo-2 ul {
      margin-top: 20px; 

      .portologo {
        max-width: 80px; 
      }
      .socialicons {
        max-width: 30px; 
      }
  
    }
  }
}

}

